<!DOCTYPE html>
<html>
  <head>
    <title>Chatting-App</title>
    
    <link rel="stylesheet" href="../css/chatstyle.css">
    <script src="../../socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    
  </head>
  <body>
      <%if (message) { %>
     <div class="logout"> <a href="/logout" style="text-align: center;">Logout</a></div>
    <div id="username"><strong><%= message.username %></strong></div>
    <div class="container">
    <ul id="messages"></ul>
  </div>
    <form action="/user-login" method="POST" id="chatForm">
      <input id="txt" autocomplete="off" autofocus="on" oninput="isTyping()" placeholder="type your message here..." /><button >Send</button>
    </form>
    <% } %>
    <script>
      
var socket = io.connect('http://localhost:3000');
// submit text message without reload/refresh the page
$('form').submit(function(e){
    e.preventDefault(); // prevents page reloading
    socket.emit('chat_message', $('#txt').val());
    $('#txt').val('');
    return false;
});
// append the chat text message
socket.on('chat_message', function(msg){
    $('#messages').append($('<li>').html(msg));
});
// append text if someone is online
socket.on('is_online', function(username) {
    $('#messages').append($('<li>').html(username));
});
// ask username
var username =document.getElementById('username').innerHTML;
// var username = prompt('sdfdfdf');
socket.emit('username', username);
    </script>
  </body>
</html>